{% include 'base.html' %}

{% block content %}
<style>
    .icon {
        position: relative;
        top: 3px;
    }
</style>

<div class="container container-padd padd">

    {% if user.is_authenticated %}

    <section class="py-5 mt-5 container">
        <div class="row">
            <div class="col-lg-12 col-md-10 mx-auto">
                <img src="" class="rounded-circle mb-4" alt="hhh" style="width:122px; height:118px">
                <div class="mb-4">
                    <span class="h1">Name : <b>{{user.first_name}} {{user.last_name}}</b></span>

                    <p class="mt-2">Email : <span class="text-muted">{{user.email}}</span></p>
                    <hr>
                    <p class="d-grid gap-2 d-sm-flex">
                        <a href="{% url 'dashboard' %}" class="btn btn-dark my-2">Dashboard</a>
                        <a href="{% url 'home' %}" class="btn btn-primary my-2">Articles</a>
                    </p>
                </div>

                <div class="decoration-none text-dark">
                    <h5 class="mb-4"><span class="icon"><ion-icon name="log-out-outline"></ion-icon></span><a
                            href="{% url 'logout' %}" class="ms-3 text-decoration-none text-dark">Logout</a></h5>
                </div>
            </div>
        </div>
    </section>

    {% else %}

    <div class="ol-xl-12 col-xxl-12 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-5">
            <div class="col-lg-6 text-lg-start">
                <h1 class="display-4 fw-bold lh-1 mb-4">Login to read daily news & blogs for free.</h1>
                <p class="col-lg-10 fs-4 hide">Today's news: Get latest and breaking news & daily blogs on politics,
                    business, lifestyle, entertainment and sports along with news updates from around the world.</p>
            </div>

            <div class="col-md-12 mx-auto col-lg-5">
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input name="email" type="email" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" required>
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-2">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input name="password" type="password" class="form-control" id="exampleInputPassword1" required>
                    </div>

                    <a href="{% url 'password_reset' %}" class="ps-1 text-secondary text-decoration-none" role="alert">
                        forgot password ? click here.
                    </a>

                    {% if error %}
                    <div class="mb-3 ps-1" role="alert">
                        All fields are mandatory in form !
                    </div>
                    {% endif %}

                    {% if message %}
                    <div class="mb-3 ps-1" role="alert">
                        {{message}}
                    </div>
                    {% endif %}
                    <div class="mt-2 text-center">
                        <button type="submit" class="btn btn-dark w-100 mb-1">Login</button>
                        <span class="text-muted">or</span>
                        <a type="button" class="btn btn-outline-secondary w-100 mt-1"
                            href="{% url 'register' %}">Register</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}