{%extends 'base.html'%}

{%block content%}
<style>
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
        width: 100vw;
    }

    .card {
        padding: 60px;
        border: none;
        outline: none;
    }

    .res-btn {
        width: 27rem;
    }

    @media screen and (max-width: 720px) {
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            text-align: center;
            padding: 0 26px 0 26px;
        }

        .card {
            padding: 0px;
            border: none;
            outline: none;
        }

        .res-btn {
            width: 100%;
        }
    }
</style>
<div class="center">
    <form method="post" class="card">
        {% csrf_token %}
        <h2 class="text-center">Confirm & set new password.</h2>

        {% for field in form %}
        {{ field.label_tag }}
        {{ field }}
        {% if field.errors %}
        <small>{{ field.errors|striptags }}</small>
        {% endif %}
        <br>
        {% endfor %}

        <div class="text-center">
            <button type="submit" class="btn res-btn btn-dark">Reset Password</button>
        </div>
    </form>
</div>
{%endblock content%}